.formSection {
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  color: white;
  width: 100vw;
  height: 100vh;
  background: url(closeup_of_taylor_swift_with_lipstick_and_blonde_hair_hd_taylor_swift.jpg);
  background-position: center;
  background-size: cover;
}
